.cardOneContainer {
    padding: var(--padding-card-one);
    margin-bottom: 70px;
}

.cardOneContainer  > div {
    padding: var(--padding-card-one);
    background-color: rgb(254 247 255 / var(--tw-bg-opacity));
    border-radius: 40px 0 40px 40px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }

 .cardOneImg {
    max-width: 500px;
    width: 100%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .cardOneImg img {  
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 40px 0 40px 40px;
 }

 @media screen and (max-width: 944px) {
    .cardOneImg {
        max-width: unset;
    }
 }

.cardOneContent {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    min-width: 300px;
    min-height: 200px;
}

.cardOneContent a {
    position: absolute;
    bottom: -50px;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subContainer {
    display: flex;
    background-color: rgb(254 247 255 / var(--tw-bg-opacity));
    border-radius: 40px 0 40px 40px;
    padding: 16px;
    width: 725px;
    margin-bottom: 70px;
}

.image {
    border-radius: 40px 0 40px 40px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    color: #553581;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    font-family: Bree;
}

.subtitle {
    color: #553581;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 70%;
    font-family: Bree;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #553581;
    border-radius: 0 24px 24px 24px;
    width: 192px;
    height: 48px;
    position: absolute;
    bottom: -42px;
    font-family: Bree;
}

.containerMobileForced {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.containerMobileForced .subContainer {
    flex-direction: column;
    width: 330px;
    min-height: 500px;
}

.containerMobileForced .image {
    margin-bottom: 20px;
}

.containerMobileForced .textContainer {
    min-height: 250px;
}

.containerMobileForced .title {
    margin-bottom: 10px;
    font-family: Bree;
}

.containerMobileForced .subtitle {
    margin-bottom: 25px;
    width: 95%;
    font-family: Bree;
}

@media screen and (max-width: 767px) {
    .cardOneContainer {
        width: 100%;
    }

    .subContainer {
        flex-direction: column;
        width: 90%;
    }

    .image {
        margin-bottom: 20px;
    }

    .textContainer {
        min-height: 250px;
    }

    .title {
        margin-bottom: 10px;
    }

    .subtitle {
        margin-bottom: 25px;
        width: 95%;
    }

    .containerMobileForced {
        flex-direction: column;
        gap: unset;
    }
}