.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.subContainer {
    display: flex;
    background-color: rgb(254 247 255 / var(--tw-bg-opacity));
    border-radius: 40px 0 40px 40px;
    padding: 16px;
    width: 725px;
}

.image {
    border-radius: 40px 0 40px 40px;
}

.textContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
}

.title {
    color: #553581;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
}

.subtitle {
    color: #553581;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    width: 70%;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
    background-color: #553581;
    border-radius: 0 24px 24px 24px;
    width: 192px;
    height: 48px;
    position: absolute;
    bottom: -42px;
}